<%= render "shared/header" %>

<%# うんち記録 %>
<p id="notice"><%= notice %></p>


<%= form_with model: @poop, class: 'infomations', local: true do |form| %>

  <div class="time">
    <div class = "info">
      <div class="form-tag">うんち時間</div>
      <%= image_tag 'トイレットペーパーアイコン4.png', class: "info-icon" %>
    </div>
    <%= form.datetime_select :start_time, {}, {class:"time-box"} %>
  </div>
  
  <div class = "pulldown">
  <div class="shape">
   <div class = "info">
      <div class="form-tag">かたち</div>
      <%= image_tag 'バナナアイコン.png', class: "info-icon" %>
    </div>
    <%= form.collection_select(:shape_id, Shape.all, :id, :name, {}, {class:"pulldown-box"}) %>
  </div>

  <div class="color">
    <div class = "info">
      <div class="form-tag">色</div>
      <%= image_tag 'パレットのアイコン9.png', class: "info-icon" %>
    </div>
    <%= form.collection_select(:color_id, Color.all, :id, :name, {}, {class:"pulldown-box"}) %>
  </div>

  <div class="amount">
    <div class = "info">
      <div class="form-tag">量</div>
      <%= image_tag '計量カップ.png', class: "info-icon" %>
    </div>
    <%= form.collection_select(:amount_id, Amount.all, :id, :name, {}, {class:"pulldown-box"}) %>
  </div>

  <div class="smell">
    <div class = "info">
      <div class="form-tag">におい</div>
      <%= image_tag '鼻のフリーアイコン1.png', class: "info-icon" %>
    </div>
    <%= form.collection_select(:smell_id, Smell.all, :id, :name, {}, {class:"pulldown-box"}) %>
  </div>
  </div>

  <div class="text">
    <div class = "info">
      <div class="form-tag">メモ (任意)</div>
      <%= image_tag 'メモ.png', class: "info-icon" %>
    </div>
    <%= form.text_field :text, class:"memo", placeholder:"気になったことをメモしておこう！" %>
  </div>

 <div class="submit">
    <%= form.submit %>
 </div>
<% end %>
</div>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @poops do |date, poops| %>
  <%= date.day %>

  <% poops.each do |poop| %>
    <div>
      <%= link_to poop.text, edit_poop_path(poop) %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>
<%# うんち記録 %>

<%# 相談投稿一覧 %>
<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
  <div class = "post">
    <div class = "post-date">
      投稿日時：<%= post.created_at.strftime("%Y年 %m月 %d日 %H:%M") %>
    </div>
    <div class = "post-title">
      <%= post.title %>
    </div>
  </div>
  <% end %>
<% end %>
<%# 相談投稿一覧 %>