<%= render "shared/header" %>

<%# うんち記録 %>
<p id="notice"><%= notice %></p>


<%= form_with(model: @poop, local: true) do |form| %>

  <div class="time">
    <div class="form-tag">時間</div>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="content">
    <div class="form-tag">メモ</div>
    <%= form.text_field :text %>
  </div>
  
  <div class="content">
    <div class="form-tag">色</div>
    <%= form.collection_select(:color_id, Color.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div class="content">
    <div class="form-tag">量</div>
    <%= form.collection_select(:amount_id, Amount.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div class="content">
    <div class="form-tag">形</div>
    <%= form.collection_select(:shape_id, Shape.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div class="content">
    <div class="form-tag">におい</div>
    <%= form.collection_select(:smell_id, Smell.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>


 <div class="submit">
    <%= form.submit %>
 </div>
<% end %>
</div>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @poops do |date, poops| %>
  <%= date.day %>

  <% poops.each do |poop| %>
    <div>
      <%= link_to poop.text, edit_poop_path(poop) %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>
<%# うんち記録 %>

<%# 相談投稿一覧 %>
<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
  <div class = "post">
    <div class = "post-date">
      投稿日時：<%= post.created_at.strftime("%Y年 %m月 %d日 %H:%M") %>
    </div>
    <div class = "post-title">
      <%= post.title %>
    </div>
  </div>
  <% end %>
<% end %>
<%# 相談投稿一覧 %>