<%= render partial: "shared/header" %>

<%# うんち記録 %>
<p id="notice"><%= notice %></p>


<%= form_with model: @poop, class: 'infomations', local: true do |form| %>

  <div class="time">
    <div class = "info">
      <div class="form_tag"><%= t '.うんち時間' %></div>
      <%= image_tag 'トイレットペーパーアイコン4.png', class: "info_icon" %>
    </div>
    <%= form.datetime_select :start_time, {}, {class:"time_box"} %>
  </div>
  
  <div class = "pulldown">
  <div class="shape">
   <div class = "info">
      <div class="form_tag"><%= t '.かたち' %></div>
      <%= image_tag 'バナナアイコン.png', class: "info_icon" %>
    </div>
    <%= form.collection_select(:shape_id, Shape.all, :id, :name, {}, {class:"pulldown_box"}) %>
  </div>

  <div class="color">
    <div class = "info">
      <div class="form_tag"><%= t '.色' %></div>
      <%= image_tag 'パレットのアイコン9.png', class: "info_icon" %>
    </div>
    <%= form.collection_select(:color_id, Color.all, :id, :name, {}, {class:"pulldown_box"}) %>
  </div>

  <div class="amount">
    <div class = "info">
      <div class="form_tag"><%= t '.量' %></div>
      <%= image_tag '計量カップ.png', class: "info_icon" %>
    </div>
    <%= form.collection_select(:amount_id, Amount.all, :id, :name, {}, {class:"pulldown_box"}) %>
  </div>

  <div class="smell">
    <div class = "info">
      <div class="form_tag"><%= t '.におい' %></div>
      <%= image_tag '鼻のフリーアイコン1.png', class: "info_icon" %>
    </div>
    <%= form.collection_select(:smell_id, Smell.all, :id, :name, {}, {class:"pulldown_box"}) %>
  </div>
  </div>

  <div class="text">
    <div class = "info">
      <div class="form_tag"><%= t '.メモ (任意)' %></div>
      <%= image_tag 'メモ.png', class: "info_icon" %>
    </div>
    <%= form.text_field :text, class:"memo", placeholder:"気になったことをメモしておこう！" %>
  </div>

 <div class="submit">
    <%= form.submit class:"submit_btn" %>
 </div>
<% end %>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @poops do |date, poops| %>
  <%= date.day %>

  <div class = "calendar_stamp">
    <% poops.each do |poop| %>
      <% if user_signed_in? && poop.user_id == current_user.id %>
        <div>
          <%= link_to image_tag('スタンプ.png', class: "calendar_image"), edit_poop_path(poop) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
</div>
</div>
<%# うんち記録 %>

<%# 相談投稿一覧 %>
<div class = "post_table">
  <%= render partial: "posts/post", collection: @posts %>
</div>
<%# 相談投稿一覧 %>

<%= link_to root_path, class: 'top-btn' do %>
  <%= image_tag '矢印.png' , size: '100x50' ,class: "top-btn-icon" %>
  <span class='top-btn-text'>TOP</span>
<% end %>