<%= render "shared/header" %>

<div class = "edit_infomations">

  <div class="time">
    <div class = "info">
      <div class="form_tag"><%= t '.うんち時間' %></div>
      <%= image_tag 'トイレットペーパーアイコン4.png', class: "info_icon" %>
    </div>
    <div class = "time_detail"><%= @poop.start_time %></div>
  </div>
  
  <div class = "pulldown">
  <div class="shape">
   <div class = "info">
      <div class="form_tag"><%= t '.かたち' %></div>
      <%= image_tag 'バナナアイコン.png', class: "info_icon" %>
    </div>
    <div class = "detail"><%= @poop.shape[:name] %></div>
  </div>

  <div class="color">
    <div class = "info">
      <div class="form_tag"><%= t '.色' %></div>
      <%= image_tag 'パレットのアイコン9.png', class: "info_icon" %>
    </div>
    <div class = "detail"><%= @poop.color[:name] %></div>
  </div>

  <div class="amount">
    <div class = "info">
      <div class="form_tag"><%= t '.量' %></div>
      <%= image_tag '計量カップ.png', class: "info_icon" %>
    </div>
    <div class = "detail"><%= @poop.amount[:name] %></div>
  </div>

  <div class="smell">
    <div class = "info">
      <div class="form_tag"><%= t '.におい' %></div>
      <%= image_tag '鼻のフリーアイコン1.png', class: "info_icon" %>
    </div>
    <div class = "detail"><%= @poop.smell[:name] %></div>
  </div>
  </div>

  <div class="text">
    <div class = "info">
      <div class="form_tag"><%= t '.メモ (任意)' %></div>
      <%= image_tag 'メモ.png', class: "info_icon" %>
    </div>
    <div class = "memo"><%= @poop.text %></div>
  </div>

  <div class="edit_submit">
    <%= link_to (t ".編集する"), edit_poop_path(@poop.id), class:"edit_btn" %>
  </div>

</div>