<%= render partial: "shared/header" %>

<div class="main">
  <div class="user_inner">
    <div class="user__wrapper">
      <h2 class="user_heading">
        <%= @user.nickname %><%= t '.さんの情報' %>
      </h2>
      <table class="user_table">
        <tbody>
          <tr>
            <th class="table__col1"><%= t '.ニックネーム' %></th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1"><%= t '.動物の種類' %></th>
            <td class="table__col2"><%= @user.animal %></td>
          </tr>
          <tr>
            <th class="table__col1"><%= t '.生年月日' %></th>
            <td class="table__col2"><%= @user.birthday %></td>
          </tr>
          <tr>
            <th class="table__col1"><%= t '.メールアドレス' %></th>
            <td class="table__col2"><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="user_heading">
        <%= @user.nickname %><%= t '.さんの相談一覧' %>
      </h2>
      <div class="user_card">
        <%# 部分テンプレートでそのユーザーが投稿した相談投稿一覧を表示する %>
        <%= render partial: 'posts/post', collection: @user.posts %>
      </div>
    </div>
  </div>
</div>