
<div class = "post">
    <div class = "post_name">
      <%= link_to post.user.nickname + "さん", user_path(post.user.id), class:"post_user_name" %>
    </div>
   <%= link_to post_path(post.id), class:"post_show" do %>
    <div class = "post_date">
      投稿日時：<%= post.created_at.strftime("%Y年 %m月 %d日 %H:%M") %>
    </div>
    <div class = "post_title">
      <%= post.title %>
    </div>
    <div class = "post_text">
      <%= truncate(post.text, length: 25, omission: "•••") %>
    </div>
   <% end %>
</div>