<!DOCTYPE html>
<html>
  <head>
    <title>PoopManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

  <div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
        <%= link_to '会社概要（運営会社)', "#", class: "footer-link" %>
        <%= link_to 'プライバシーポリシー', "#", class: "footer-link" %>
        <%= link_to 'FURIMA利用規約', "#", class: "footer-link" %></li>
        <%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
    </div>
  </div>
  </body>
</html>
