<!DOCTYPE html>
<html>
  <head>
    <title>PoopManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

  <div class='footer'>
    <div class='footer-contents'>
      <div class='footer-details'>
        <%= link_to 'コーポレートサイト', "#", class: "footer-link" %>
        <%= link_to '会社概要', "#", class: "footer-link" %>
        <%= link_to '利用規約', "#", class: "footer-link" %>
        <%= link_to '個人情報の取扱い', "#", class: "footer-link" %></li>
        <%= link_to '個人情報保護方針', "#", class: "footer-link" %></li>
        <%= link_to 'うんちポイントに関する特約', "#", class: "footer-link" %></li>
      </div>
    </div>
    <div class = 'site_name'>
     <%= "© POOP MANAGEMENT"%>
    </div>
  </div>
  </body>
</html>